.alert{
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    padding: 20px;
    margin: 20px;
    width: 60%;
    display: block;
}

.w100{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*align-items: flex-start;*/
}
